@import '../../../styles/general_styling';

.ant-form.CreateUserForm {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-top: 1.5em;
  ._input {
    width: 48%;
    .input-label {
        margin-bottom: 0.5em;
      span {
        color: $danger-color;
      }
    }
  }
  .ButtonContainer {
    width: 100%;
    justify-content: flex-end;
    button {
      width: 150px;
    }
  }
}
