// Colors
$background: linear-gradient(219.94deg, #0772e6 0%, #007aff 99.4%);
$light-background: #fafafa;

$primary-color: #007aff;
$primary-color-dark: #4b5a87;
$primary-color-light: #c9d0ff;

$secondary-color: #515E6B;

$success-color: #88ffd4;
$danger-color: #ff4891;

$black: #333333;
$white: #ffffff;

$grey-1: #f4f4f6;
$grey-2: #e9e9ee;
$grey-3: #dddee5;
$grey-4: #c7c8d4;
$grey-5: #8f92a9;
$grey-6: #696969;

// Typographic Scale
$title: 22px;
$numbers: 24px;
$h1: 24px;
$h2: 20px;
$h3: 18px;
$h4: 16px;
$button: 14px;
$body: 14px;
$label: 12px;
$explain: 10px;

// Fonts

@mixin primary-text($font-size, $font-color, $font-weight) {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  @if $font-color {
    color: $font-color;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Shadow
$shadow: 0px 8.24293px 42.3922px rgba(48, 48, 48, 0.13);
$little-shadow: 0px 3.9635px 9.90874px rgba(48, 48, 48, 0.13);

.flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
