// Change ant Button
.ant-btn {
  width: 100%;
  box-shadow: none;
  border-radius: 4px;
  -webkit-transition: 500ms ease-out;
  -moz-transition: 500ms ease-out;
  -o-transition: 500ms ease-out;
}

.ant-btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.ant-btn-link {
  width: auto;
}

.ant-btn:hover,
.ant-btn:focus {
  border-color: transparent;
}

.ant-input,
.ant-input-affix-wrapper {
  border-radius: 4px;
}

.ant-form-item-explain {
  font-size: $label;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: $primary-color;
}
.ant-tabs-nav:focus,
.ant-tabs:focus {
  outline: none;
}

.ant-table-thead > tr > th {
  color: $grey-5;
}

.ant-dropdown {
  font-family: 'Work Sans', sans-serif;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid $primary-color;
  border-radius: 4px;
}

.ant-select-arrow {
  color: $primary-color;
}

.ant-progress-inner {
  border-radius: 2px;
}
