@import '../../../styles/general_styling';

.login-btn--container {
  display: flex;
  flex-direction: row;
  align-content: center;
  cursor: pointer;
  border: solid 1px white;
  border-radius: 4px;
  padding: 6px 20px;
  color: white;
  
  .login-btn--icon {
    width: 18px;
    height: 18px;
    margin-top: 3px;
  }

  .login-btn--text {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 16px;
  }
}

.login-btn--container:hover {
  background-color: white;
  color: $primary-color;
}

