@import '../../../styles/general_styling';

.FilterPillButton {
  display: flex;
  height: 30px;
  border-radius: 40px;
  border: 2px solid $primary-color;
  background: #e5f2ff;
  color: $primary-color;
  padding: 0 15px;
  align-items: center;
  margin-right: 0.5em;
  cursor: pointer;
  outline: none;

  p {
    font-family: 'Work Sans', sans-serif;
    font-size: $body;
    font-weight: 500;
    margin-bottom: 0;
  }

  .MediaIcon {
    margin-right: 0.25em;
  }

  &:first-child {
    text-align: center;
    justify-content: center;
    .MediaIcon {
      display: none;
    }
  }
}

.disable {
  border: 2px solid $grey-2;
  background: $grey-2;
  color: $grey-4;
}
