@import '../../../styles/general_styling';

.CategorySection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .CategorySectionTitle {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    h1 {
      @include primary-text($title, $black, 500);
    }
  }

  .LeftSide {
    width: 48%;
  }
  .RightSide {
    width: 48%;
  }
}
