@import '../../../styles/general_styling';

.filter-review-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
  border-radius: 40px;
  border: 2px solid $primary-color;
  background: #e5f2ff;
  color: $primary-color;
  padding: 0 15px;
  align-content: center;
  margin-right: 0.5em;
  cursor: pointer;
  outline: none;

  .filter-review-icon {
    margin-right: 0.25em;
  }
}

.smile-theme {
  border: 2px solid #4CD964;
  color: #4CD964;
  background-color: #d1fcd8;
}

.sad-theme {
  border: 2px solid #F4392B;
  color: #F4392B;
  background-color: #fad7d4;
}

.neutral-theme {
  border: 2px solid #FFC107;
  color: #FFC107;
  background-color: #fff1cb;
}

.disable {
  border: 2px solid $grey-2;
  background: $grey-2;
  color: $grey-4;
}
