@import '../../../styles/general_styling';

.goback-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  cursor: pointer;
  width: 100%;
  
  .goBack-icon {
    width: 24px;
    height: 24px;
    color: white;
    margin-top: 2px;
  }

  .goBack-text {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    color: white;
    margin-left: 22px;
  }
}

