<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="css/style-user-template.css"/>
    <title>User - Export pdf example</title>
  </head>

  <body>
    <!-- Hoja 1 -->
    <div class="sheet-template-print">
      <div class="head-template-print">
        <h2 class="margin-top-50 background-color">
          <strong>
            <strong th:text="|User ID ${user.id}|"></strong>
          </strong>
        </h2>
      </div>
      <div class="body-template-print">
        <div class="content-100 height-100">
          <div class="content-50 float-left">
            <p><strong th:text="|Email: ${user.username}|"></strong></p>
            <p><strong th:text="|Name: ${user.name} ${user.lastName}|"></strong> </p>
            <p><strong th:text="|Created: ${#temporals.format(user.created, 'dd/MM/yyyy HH:mm')}|"></strong></p>
            <p><strong th:text="|State: ${user.active ? 'Active' : 'Inactive'}|"></strong></p>
          </div>
        </div>
        <br />
        <h2 class="margin-top-10 content-100">
          <strong>Permissions</strong>
        </h2>

        <div class="content-100">
          <table>
            <tr>
              <th>Code</th>
              <th>Description</th>
            </tr>
            <tr th:each="permission : ${user.role.permissions}">
              <td th:text="${permission.code}"></td>
              <td th:text="${permission.description}"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>

