
  html {
    font-family: Arial, Helvetica, sans-serif;
  }

  .sheet-template-print {
    display: block;
    margin: 0 auto;
  }

  .head-template-print {
    background: #fff;
    display: block;
    margin: 0 auto;
    padding: 10px 40px;
  }

  .body-template-print {
    background-color: #fff;
    display: block;
    float: left;
    padding: 0 40px;
  }

  /* Contents */

  .content-100 {
    width: 97%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .content-50 {
    width: 40%;
    display: block;
  }

  /* Heights */

  .height-50 {
    height: 50px;
  }

  .height-100 {
    height: 100px;
  }

  /* Float */

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }

  /* Text */

  h2 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
    color: #222c64;
  }

  p {
    font-weight: 400;
    margin: 5px 0;
    font-size: 12px;
  }

  p strong,
  h2 strong {
    font-weight: 600;
  }

  /* Margin */
  .margin-top-100 {
    margin-top: 100px;
  }

  .margin-top-50 {
    margin-top: 50px;
  }
  /* Fin Margin */

  /* Table */
  table,
  td {
    border-bottom: 1px solid #c5c5c5;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 15px;
    font-size: 12px;
  }

  th {
    text-align: left;
    background-color: #c5c5c5;
    color: white;
    width: 250px;
  }

  /* Fin Table */

  hr {
    border: none;
    border-top: 1px solid lightgray;
  }


  .background-color {
    background-color: #222c64;
    padding: 15px;
    color: white;
    display: block;
  }