@import '../../../styles/general_styling';

.no-results-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 14px;
  }

  .no-results-image-box {
    width: 140px;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }
}