@import '../../../styles/general_styling';

.PaginatedTableContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;

  .FormOptions {
    display: flex;
    margin: 1.5em 0;
    justify-content: space-between;

    .ant-input-search {
      width: 40%;
    }
  }

  .TableUserActions {
    display: flex;
    align-items: center;
    .TableUserActionsLink {
      font-size: 20px;
      margin-right: 0.75em;
    }
  }
}
