@import '../../../styles/general_styling';

.SummaryContainer {
  display: flex;
  justify-content: space-between;

  .SummaryTitle {
    margin-bottom: 1em;
    h1 {
      @include primary-text($title, $black, 400);
      & strong {
        font-weight: 600;
      }
    }
  }

  .LeftSide {
    width: 48%;
    .ReviewsContainer {
      display: flex;
      justify-content: space-between;
    }
  }
  .RightSide {
    width: 48%;
    .ContainerCenter {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
