@import '../../../styles/general_styling';

.HeaderCategoryChart {
  display: flex;
  margin-bottom: 1em;
  background: $grey-1;
  padding: 0.5em 0.75em;
  p {
    @include primary-text($label, $secondary-color, 400);
  }
  .LeftSide {
    width: 30%;
  }
  .RightSide {
    width: 70%;
    display: flex;
    justify-content: space-between;
    p {
      font-weight: 500;
    }
  }
}
