@import '../../../styles/general_styling';

.SourceSection {
  display: flex;
  flex-direction: column;
  .SourceSectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5em 0 2em 0;
    .FiltersContainer {
      display: flex;
    }
  }
  .SourcesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 6px;
    align-items: start;
  }
}

.review-filter-container {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  margin-left: 14px;
  border-left: solid 1px rgb(160, 160, 160);
}

.filter-icon {
  width: 18px;
  margin-top: 5px;
  margin-left: 2px;
}

.smile-color {
  color: #4CD964;
}

.sad-color {
  color: #F4392B;
}

.neutral-color {
  color: #FFC107;
}