@import './styles/general_styling';
@import './styles/changes.scss';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

:focus {
  outline: none;
}

svg:not(:root) {
  overflow: inherit;
}
