@import '../../../styles/general_styling';

.ReviwesCard {
  background: $white;
  border-radius: 2px;
  height: 135px;
  width: 30%;
  box-shadow: $little-shadow;
  padding: 1.5em;
  align-items: center;
  display: flex;
  flex-direction: column;
  h2 {
    @include primary-text($h1, $black, 600);
    line-height: 24px;
    margin-top: 0.5em;
  }
  p {
    @include primary-text($label, $grey-5, 400);
  }
}
