@import '../../../styles/general_styling';

.CategoryProgressBar {
  display: flex;
  margin-bottom: 1em;
  .LeftSide {
    width: 30%;

    h2 {
      @include primary-text($h4, $secondary-color, 400);
    }
  }
  .RightSide {
    width: 70%;
  }
}

.CategoryTooltip {
  display: flex;
  .ReviewIcon {
    width: 24px;
    margin-right: 0.5em;
  }
  p {
    @include primary-text($h3, $secondary-color, 600);
  }
}