@import '../../../styles/general_styling';

.score_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .score_box__review_container {
    width: 100%;
    display: flex;
    flex-direction: row;

    .score_box__review {
      width: 37px;
      height: 37px;
      color: white;
      padding: 6px;
    }

    .score_box__review:first-child {
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
    }
    .score_box__review:last-child {
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
    }
  }

  .score_box__numbers_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 8px;
  }
}

.happy-bgcolor {
  background-color: #2CA61F;
}
.smile-bgcolor {
  background-color: #86B517;
}
.neutral-bgcolor {
  background-color: #fcc100;
}
.sad-bgcolor {
  background-color: #f87800;
}
.cry-bgcolor {
  background-color: #D91314;
}

.happy-color {
  color: #2CA61F;
}
.smile-color {
  color: #86B517;
}
.neutral-color {
  color: #fcc100;
}
.sad-color {
  color: #f87800;
}
.cry-color {
  color: #D91314;
}

.opacity {
  opacity: 0.35;
}