@import '../../../styles/general_styling';

.HomeContainer {
  .HeaderTop {
    height: 350px;
    background: $background;
  }
  .MainContent {
    background: $light-background;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1em 4em;
    width: 100%;

    .UserContent {
      background: $white;
      border-radius: 2px;
      margin-top: -280px;
      box-shadow: $shadow;
      margin-bottom: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2em;
    }
  }
}
