@import '../../styles/general_styling';

.google-map-spiner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.google-map-container-skeleton {
  height: 22rem;
  background-color: $grey-3;
}

.google-map-spiner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.google-map-container {
  height: 22rem;

  .loading {
    height: 100%;
  }

  .google-map-element {
    height: 100%;
    width: 100%;
  }
}

.infoBox {
  img {
    display: none;
  }
}

.polygon-info {
  background-color: #ffffff;
  padding: 14px 10px;
  border-radius: 4px;
  text-align: center;
  display: block;
  position: relative;
  min-width: 160px;

  .polygon-score {
    @include primary-text($h2, $black, 500);
    text-align: center;
    margin-bottom: 0.5em;
    .ReviewIcon {
      width: 24px;
      margin-right: 0.5em;
      display: inline;
    }
  }

  .primary-title {
    @include primary-text($label, $black, 500);
    font-weight: 700;
    width: 100%;
    font-size: 14px;
    margin-bottom: 14px;
  }

  .secondary-title {
    @include primary-text(16px, $grey-5, 500);
    width: 100%;
    margin-top: 10px;
  }

  hr {
    border: none;
    border-top: 1px solid $grey-2;
  }
}