@import '../../../styles/general_styling';

.LoginContainer {
  display: flex;
  width: 100%;
  height: 100vh;

  .LoginAside {
    background: $background;
    width: 55%;

    .goBackContainer {
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: row;
      align-content: center;
      padding: 30px 0 0 30px;
    }
  }
  .LogoContainer {
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .FormContainer {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .WelcomeMessage {
      text-align: center;
      margin-bottom: 1em;
      .Isologo {
        margin-bottom: 0.5em;
      }
      h1 {
        @include primary-text($h1, $black, 500);
      }
      p {
        @include primary-text($body, $black, 400);
      }
    }

    .ColorLine {
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    .LoginForm {
      width: 50%;
      font-family: 'Work Sans', sans-serif;
      .ant-form-item {
        margin-top: 10px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .LoginContainer {
    flex-direction: column;
    .LogoContainer {
      width: 100%;
      height: 300px;
      .Logo {
        width: 250px;
      }
    }
    .FormContainer {
      width: 100%;
      margin-top: 2em;
      height: inherit;

      .WelcomeMessage {
        .Isologo {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .LoginContainer {
    justify-content: center;

    .LoginAside {
      background: $background;
      width: 100%;

      .goBackContainer {
        padding: 20px 30px;
        height: auto;
      }
    }
    
    .LogoContainer {
      display: none;
    }
    .FormContainer {
      margin-top: 0;
      .WelcomeMessage {
        .Isologo {
          display: initial;
        }
      }
      .LoginForm {
        width: 80%;
      }
    }
  }
}
