@import '../../../styles/general_styling';

.ReviewsBarChart {
  .ReviewsBarChartTitle {
    @include primary-text($h1, $black, 500);
    margin-bottom: 0.5em;

    span {
      @include primary-text($body, $grey-5, 400);
    }
  }
}
