@import '../../../styles/general_styling';
.SourceItem {
  padding-bottom: 1em;
  margin-bottom: 1.5em;
  justify-content: space-between;
  align-items: center;
  display: flex;

  .SourceUser {
    display: flex;
    position: relative;
    .UserData {
      display: flex;
      flex-direction: column;
      width: 72%;
      margin: 0 1em;

      .UserName {
        display: flex;
        align-items: center;

        h2 {
          @include primary-text($h4, $black, 600);
        }

        .MediaIcon {
          margin-left: 0.5em;
        }
      }

      .sourceIntem-review {
        @include primary-text($body, $grey-6, 400);
        line-height: 16px;
      }

      .sourceIntem-postDate {
        @include primary-text($body, $grey-5, 400);
        line-height: 16px;
      }

      .sourceIntem-line {
        width: 12px;
        height: 2px;
        background-color: $grey-4;
        margin: 8px 0 6px 0;
      }
    }
  }

  .ReviewIcon {
    width: 30px;
    position: absolute;
    right: 0;
  }

  .ButtonItem {
    width: 12rem;
  }
}

.w-46 {
  width: 46%;
}

.w-100 {
  width: 100%;
}

.reply-button {
  border: solid 1px #007aff;
  background-color: white;
  color: #007aff;
  padding: 8px 24px 8px 30px;
  border-radius: 4px;
  font-weight: 500;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .arrow-icon {
    width: 12px;
    height: 16px;
    margin: 2px 0 0 6px;
  }
}

.reply-button:hover {
  border: solid 1px #007aff;
  background-color: #007aff;
  color: white;
}
