@import '../../../styles/general_styling';

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 8em;

  .LogoContainer {
    .Logo {
      width: 150px;
    }
  }
  .UserData {
    display: flex;
    align-items: center;
    cursor: pointer;

    .AvatarContainer {
      .anticon {
        color: $white;
        margin-left: 0.75em;
      }
    }
    .UserName {
      text-align: right;
      margin-right: 1em;
      h2 {
        @include primary-text($body, $white, 500);
      }
      p {
        @include primary-text($label, $white, 400);
      }
    }
  }
}
