@import '../../../styles/general_styling';

.HomeContainer {
  .HeaderTop {
    height: 350px;
    background: $background;
  }
  .MainContent {
    background: $light-background;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1em 4em;
    width: 100%;

    .MapContent {
      background: $white;
      border-radius: 2px;
      margin-top: -280px;
      box-shadow: $shadow;
      margin-bottom: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .FiltersContainer {
        padding: 1em;
        .MapFilter {
          margin-right: 1em;
          font-family: 'Work Sans', sans-serif;
        }
      }
    }
    .TabContent {
      background: $white;
      border-radius: 2px;
      box-shadow: $shadow;
      padding: 1em 1.5em;
      .ValueTabs {
        font-family: 'Work Sans', sans-serif;
      }
    }
  }
}
